
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="img/favicon.png">

  <title>Acesso Negado</title>

  <!-- Bootstrap CSS -->
  <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
  <!-- bootstrap theme -->
  <link href="~/Content/css/bootstrap-theme.css" rel="stylesheet">
  <!--external css-->
  <!-- font icon -->
  <link href="~/Content/css/elegant-icons-style.css" rel="stylesheet" />
  <link href="~/Content/css/font-awesome.css" rel="stylesheet" />
  <!-- Custom styles -->
  <link href="~/Content/css/style.css" rel="stylesheet">
  <link href="~/Content/css/style-responsive.css" rel="stylesheet" />
</head>

<body>
  <div class="page-404">
    <p class="text-404"> ¯\_(ツ)_/¯ </p>
    <h2>Acesso Negado</h2>
    <p>Seu Perfil de Usuário não possuí acesso a esta função, contate um Administrador<br><a href="/Home/Index">Voltar a pagina inicial</a></p>
  </div>
</body>

</html>